
<!--
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>

  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-servers></app-servers>
  <app-server></app-server> 
 <app-practicing-directives></app-practicing-directives>

-->
<app-servers></app-servers>
<hr>
<hr>

<app-header></app-header>
<div class="container">
    <div class="col-md-12">
      <app-recipe></app-recipe>
      <app-shopping-list></app-shopping-list>
    </div>
</div>
<!--

  <app-recipe></app-recipe>
<app-recipe-list></app-recipe-list>
-->














