<label>server Name</label><br>
<!-- <input type="text" class="form-control"
    (input)="onUpdateServerName($event)"> <br> -->
 <input type="text" class="form-control" [(ngModel)]="serverName"> <br>

 <p>{{serverName}}</p>

<button class="btn btn-primary" [disabled]="serverName===''" (click)="serverName=''" >ResetServer</button>    <br>

<p *ngIf="serverName!=='' ; else noServer" [ngStyle]="{color: getColor()}">Server Is ready - name {{serverName}}</p>
<ng-template #noServer>
    <p [ngStyle]="{color: getColor()}">no Server is Ready yet</p>
</ng-template>


<button class="btn  btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer('\Hello World')">Add Server</button>
<!-- <p>[innerText]='allowNewServer'</p>-->

<p>{{serverCreationStatus}}</p>



<table>
 <thead>
     <tr>
         <th>biscuit</th>
         <th>chai</th>
         <th>namkeen</th>
     </tr>
 </thead>    
 <tbody>
     <tr *ngFor="let res of dummyResponse" (click)="dummyTablepopulate(res.biscuit)">
         <td style="text-align:center"><span class="biscuits-name">{{res.biscuit}}</span></td>
         <td style="text-align:center">{{res.chai}}</td>
         <td style="text-align:center">{{res.namkeen}}</td>
     </tr>
 </tbody>
</table>

<p>biscuit name is {{biscuitName}}</p>




